<ion-view title="Configuration" id="page1" style="background-color:#1A3B3B;">
    <ion-tabs class="tabs-dark tabs-icon-top" id="configuration-tabs1">
        <ion-tab title="Settings" icon="ion-android-apps" href="#/configuration/settings" id="configuration-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Account" icon="ion-android-contact" href="#/configuration/account" id="configuration-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>